<mat-list>
	<ng-container *ngFor="let todo of todos; index as i">
		<mat-list-item *ngIf="!todo.completed">
			<span mat-line>{{todo.description}}</span>
			<button mat-icon-button (click)="completeTodoClicked(i)"><mat-icon>check</mat-icon></button> 
			<button mat-icon-button (click)="removeTodoClicked(i)"><mat-icon>delete</mat-icon></button>
		</mat-list-item>
	</ng-container>

	<ng-container *ngFor="let todo of todos; index as i">
		<mat-list-item *ngIf="todo.completed">
			<span mat-line class="completed-todo">{{todo.description}}</span>
			<button mat-icon-button (click)="removeTodoClicked(i)"><mat-icon>delete</mat-icon></button>
		</mat-list-item>
	</ng-container>
</mat-list>
