<div class="todo-list-wrapper">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Can't Forget To...
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<ng-container *ngFor="let todo of todos$ | async; index as i">
				<div class="todo-decorator">
					<app-todo 
						[description]="todo.description" 
						[completed]="todo.completed" 
						(completeClicked)="onTodoCompleteClicked(i)"
						(deleteClicked)="onTodoDeleteClicked(i)">
					</app-todo>
				</div>
			</ng-container>

			<p *ngIf="!(todos$ | async)?.length && !showTodoForm" class="help-message">Click or tap the '+' button to add a new todo</p>

			<div class="todo-form-wrapper" *ngIf="showTodoForm">
				<app-todo-form
					(submitted)="onTodoFormSubmitted($event)"
					(cancelled)="toggleTodoForm()">
				</app-todo-form>
			</div>
		</mat-card-content>
		<div class="mat-card-fab-cut-out" *ngIf="!showTodoForm">
			<button mat-fab color="primary" class="mat-elevation-z2" (click)='toggleTodoForm()'><mat-icon>add</mat-icon></button>
		</div>
	</mat-card>
</div>
