.todo-list-wrapper {
	max-width: 760px;
	margin: 0 auto;
	padding: 24px 16px 0;
	position: relative;	
}

.todo-form-wrapper {
	width: 100%;
	margin: 6px 0 16px;
	padding: 0 16px;
}

.help-message {
	margin-left: 16px;
	color: rgba(0,0,0,0.56);
}