<div class="todo-list-wrapper">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Cant Forget To...
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<app-todo-list 
				[todos]="todoList" 
				[completedTodos]="completedTodoList" 
				(todoRemovalRequested)="removeTodo($event)"
				(todoCompleted)="onTodoCompleted($event)">
			</app-todo-list>

			<form class="new-todo-field-wrapper" [formGroup]="todoForm" (ngSubmit)="addTodo()" autocomplete="off" *ngIf="showNewTodoForm">
				<mat-form-field appearance="outline">
					<mat-label>Write Something...</mat-label>
					<input matInput type="text" formControlName="description">
				</mat-form-field>

				<button type="submit" mat-raised-button color="accent" [disabled]="!todoForm.valid">Add</button>
				<button type="button" mat-button (click)="toggleTodoForm()">Cancel</button>
			</form>

		</mat-card-content>
		<div class="card-fab-placeholder" *ngIf="!showNewTodoForm">
			<button mat-fab class="mat-elevation-z2" (click)='toggleTodoForm()'><mat-icon>add</mat-icon></button>
		</div>
	</mat-card>
</div>
