.todo-list-wrapper {
	max-width: 760px;
	margin: 24px auto 0;
	padding: 0 16px;
	position: relative;	
}

mat-card.mat-card {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 24px;
	min-height: 32px;

	&:not(:last-of-type) {
		margin-bottom: 38px;
	}

	.mat-card-fab-cut-out {
		display: flex;
		justify-content: center;
		background-color: rgba(229,229,229);
		box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
		border-top-left-radius: 36px;
		border-top-right-radius: 36px;
		width: 68px;
		height: 36px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	
		button.mat-fab {
			margin-top: 6px;
		}
	}
}

.todo-form-wrapper {
	width: 100%;
	margin: 6px 0 16px;
	padding: 0 16px;
}